body {
	overflow: hidden;
	font-family: Inter, sans-serif;
	text-align: center;
}

.container {
	height: 100vh;
	padding: 20px;
}

.header {
	margin-top: 20vh;
}

.row
{
	padding-top: 30px;
}
.grey-rectangle {
	height: 100%;
	border: 1px solid #D9D9D9;
	padding: 10px;
	color: #D9D9D9!important;
}

.header-title {

	font-size: 1.5rem;
	font-weight: bold;
	color: black;
	margin-bottom: 10px;
}

.placeholder-text {

	font-size: 1rem;
	color: black;
	margin: 0;
}

.workout-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}




#logout-btn {
	font-family: 'Inter', sans-serif;
	color: black;
	position: absolute;
	top: 10px;
	right: 10px;
}