<!-- all HTML code in this file was written by ChatGPT and modified by me a bit; non-HTML code is mine, specifically Jinja-->

<!DOCTYPE html>
<html>
<head>
	<title>Individual Workout</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../static/exercise.css">
	
</head>
<body>
	<div class="container">
		<h1 class="text-center font-weight-bold">
            <!-- insert title here -->
			{{h}}
        </h1>
		<a href="/logout"><button class="btn btn-outline-dark" id="logout-btn">Logout</button></a>

		<div class="row no-gutters">
			<div class="col-6">
				<div class="grey-rectangle">
				  <h2 class="header-title">Instructions</h2>
				  <p class="placeholder-text">{{i}}</p>
				</div>
			  </div>
			<div class="col-6">
				<!-- insert image -->
				<img src={{im}} class = "workout-image">
			</div>
		</div>
	</div>
</body>

<!-- NEED TO FIGURE OUT HOW TO KNOW WHAT LINK THE USER CLICKED ON -->

</html>
